.intro-text {
  color: white;
  font-weight: bold;
  font-size: 3.5rem;
  padding: 15px;
  animation: fadeIn 10s;
}

.intro-inner {
  height: 100%;
  width: 90%;
  margin: auto;
  text-align: center;
  line-height: 0.5;
  padding-top: 20%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .intro-inner {
    padding-top: 60%;
  }
}
